nav ul li a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}
nav {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 0;
  opacity: 0.7;
  position: fixed;
  backface-visibility: hidden;
  background: white;
  -webkit-background-size:  cover;
  -moz-background-size:  cover;
  -o-background-size:  cover;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 2000;
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /*opacity: 1.0;*/
  display: inline-block;
  background: none;
  border-radius: 5px;
   -webkit-background-size:  cover;
  -moz-background-size:  cover;
  -o-background-size:  cover;
  background-attachment: fixed;
  background-size: cover;
}
nav > ul > li {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  padding: 1px;
  opacity: 1.0;
  /*color: rgba(0, 0, 0, 0.7);*/
  cursor: pointer;

}
nav > ul > li > .drop-menu.menu-1 > li {
  font-size: 13px;
}
nav > ul > li:hover  {
  background: #d5d5d5;
  border-radius: 7px;

}



ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
  background: url('../img/saga11.jpg')fixed no-repeat;
   -webkit-background-size:  cover;
  -moz-background-size:  cover;
  -o-background-size:  cover;
  background-size: cover;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 1.0);

}
ul.drop-menu li:hover {
  background: #d5d5d5;

}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;

}

ul.drop-menu li {
  display: none;
}
ul.drop-menu li a{
  text-decoration: none;
  color: white;

}

li:hover > ul.drop-menu li {
  display: block;
}

li:hover > ul.drop-menu.menu-1 {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.menu-1 li {
  opacity: 1;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(1) {
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: -150ms;
          animation-delay: -150ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(2) {
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(3) {
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(4) {
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(5) {
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(6) {
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes menu1 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(10px);
  }
}
@keyframes menu1 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(10px);
  }
}
